.App {

}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #436280;
}

h1 {
  font-family: 'Inknut Antiqua', serif;
  color: #dbe4ed;
}

/***Search Bar ****************************************************************/
.search-bar {
  width: 25em;
  height: 2em;
  border-radius: 5px;
  margin-bottom: 10px;
}

.submit-button {
  width: 5em;
  height: 2.5em;
  border-radius: 10px;
  margin-left: 10px;
}

/***Info Panel ****************************************************************/
.info-panel {
  margin: 5px;
  background-color: #000;
  border: solid white 2px;
  width: auto;
  padding: 5px;
}

.info-panel h1,h2,h3,h4,p {
  color: #fff;
}

.infoPoster img {
  width: 200px;
  height: 300px;
  margin-right: 20px;
}

.movieInfo {

}

/*   *************************************************************************/

#movie {
  border: solid black 2px;
  border-radius: 15px;
  padding: 5px;
  margin: 5px;
  background-color: #a3bad2;
  text-align: center;
  font-family: 'IM Fell English', serif;
}

.container {
  display: inline-flex;
}
.moviePoster img {
  width: 200px;
  height: 300px;
}
